@import './animator.css';

.ship_hull_outline {
  background-color: black;
}

.ship_hull {
  background-color: #595555;
  border: 1px solid #464242;
}

.ship_light {
  background: #ff0000;
  animation: opacity 0.75s linear infinite;
}

.light_gray {
  background: #6c6c6c;
  border: 1px solid #464646;
}

.dark_gray {
  background: #393939;
  border: 1px solid #292929;
}

.sub {
  background: #1c1c1c;
  border: 1px solid #0f0f0f;
}

.periscope_off {
  border: none;
  background: #010157;
}

.periscope_on {
  background: #393939;
  border: 1px solid #292929;
}

.radar_off {
  border: none;
  background: #010157;
}

.radar_on {
  background: #6c6c6c;
  border: 1px solid #464646;
}
