body {
  min-width: 70em;
}

#game_boards {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(70, 1fr);
  grid-template-rows: repeat(50, 1fr);
  height: 50em;
  min-width: 70em;
}

.game_board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 30em;
  width: 30em;
}

.game_board_tile {
  border: 1px solid white;
}

.player_board {
  border: 1px solid #6e6112;
}

.ai_board {
  border: 1px solid #ac971b;
  cursor: none;
}

.ai_board:hover {
  background: #84ff17;
}

#player_board {
  position: absolute;
  top: 10em;
  left: 2em;
}

#ai_board {
  position: absolute;
  top: 10em;
  right: 2em;
}

.placed_ship_tile {
  background: #8b7b159b;
}

.player_hit {
  background: #863d3db4;
}

.ai_hit {
  background: #863d3d;
}

.player_miss {
  background: #221b70a1;
}

.ai_miss {
  background: #221b70;
}
