#game_boards {
  display: grid;
  grid-template-columns: repeat(70, 1fr);
  grid-template-rows: repeat(50, 1fr);
  height: 50em;
  width: 70em;
}

.gameboards_background:hover {
  background: #84ff17;
}
