.place_ships_background_tile:hover {
  background: #84ff17;
}

#place_ships_main {
  position: relative;
  display: grid;
  grid-template-columns: repeat(70, 1fr);
  grid-template-rows: repeat(50, 1fr);
  width: 70em;
  height: 50em;
}

#place_ships_container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  position: absolute;
  left: 15em;
  bottom: 5em;
  height: 40em;
  width: 40em;
  border: 1px solid #ac971b;
}

.place_ship_tile {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ac971b;
}

.place_ship_hovered {
  background: #84ff17;
}

.invalid_ship_placement {
  background: #f00;
}
