@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

.place_ships_background_tile:hover {
  background: #84ff17;
}

body {
  min-width: 70em;
}

#place_ships_main {
  position: relative;
  display: grid;
  grid-template-columns: repeat(70, 1fr);
  grid-template-rows: repeat(50, 1fr);
  min-width: 70em;
  height: 50em;
}

#place_ships_container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  position: absolute;
  left: 15em;
  bottom: 4em;
  height: 40em;
  width: 40em;
  border: 1px solid #ac971b;
}

#instructions_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 1em;
  left: 29em;
  width: 12em;
  height: 3em;
  background: #aa9f61;
  border-radius: 0.125em;
}

#bkd_space {
  display: flex;
  justify-content: center;
  width: 3.5em;
  font-size: 1.8em;
  box-shadow: 1px 1px 2px 2px #000000;
}

#instructions {
  font-size: 1em;
  font-family: 'Space Mono', monospace;
}

.place_ship_tile {
  border: 1px solid #ac971b;
}

.placed_tile {
  border: 1px solid #e7ca29;
  background: #ac971b;
}

.place_ship_hovered {
  background: #84ff17;
}

.invalid_ship_placement {
  background: #f00;
}
