@import './ships.css';

body {
  display: flex;
  justify-content: center;
  background-color: black;
  cursor: none;
}

#bs_heading {
  display: grid;
  grid-template-columns: repeat(70, 1fr);
  grid-template-rows: repeat(40, 1fr);
  height: 40em;
  width: 70em;
  background-color: #00006a;
}

#start_button {
  display: grid;
  grid-template-columns: repeat(70, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 10em;
  width: 70em;
}

.tile:hover {
  background: rgb(132, 255, 23);
}

.tile {
  border: 1px solid black;
}

.start_background {
  background-color: black;
}

.ship_hull {
  background-color: #9da29b;
}

.start_text {
  background-color: #ac971b;
}
