body {
  background-color: black;
  display: flex;
  justify-content: center;
}

#bs_heading {
  display: grid;
  grid-template-columns: repeat(70, 1fr);
  grid-template-rows: repeat(40, 1fr);
  height: 40em;
  width: 70em;
  background-color: rgb(60, 86, 150);
}

#start_button {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(70, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 10em;
  width: 70em;
}

.tile {
  border: 1px solid black;
}

.start {
  background-color: rgb(185, 124, 185);
}
