.ship_hull_outline {
  background-color: black;
}

.ship_hull {
  background-color: #595555;
}

.gun_barrel {
  background: #a23131;
}

.light_gray {
  background: #6c6c6c;
}

.dark_gray {
  background: #393939;
}
